body {
  font-family: Arial, sans-serif;
  background-color: #f5f2ef;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #21140F
}

h1 {
  color: #21140F;
  text-align: center;
}

label {
  color: #21140F;
  display: block;
  margin: 8px 0;
}

input {
  width: 480px;
  padding: 8px;
  margin: 5px 0 15px 0;
  box-sizing: border-box;
}

button {
  background-color: rgb(141, 191, 65);
  height: 3rem;
  width: 10rem;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: rgb(85, 119, 35);
}

.inline{
  align-self: flex-start;
}
.btnCalcular{
  position: relative;
  right: -320px;
}
.textoResultado{
  font-size: 1.5rem;
}
.textoTotalInvestido{
  color: rgb(229, 62, 80);
  font-weight: bold;
}
.Rmoney{
  color: rgb(141, 191, 65);
  font-size: 2rem
}
.Tmoney{
  color: rgb(229, 62, 80);
}
.valorResultado{
  color: rgb(141, 191, 65);
  margin-top: 0px;
  font-size: 2rem;
  font-weight: bolder;
  padding: 8px;
}
#saidaDIV {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
  